<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="color-scheme" content="dark">
  <meta name="referrer" content="no-referrer">
  <meta name="robots" content="noindex, nofollow, noodp, noarchive, nosnippet, noimageindex, nocache">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman-patch.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/patch.css">
  <script src="{{ site.baseurl }}/js/all.js"></script>
</head>
